.result__container {
    margin: auto;

    .result__input {
        display: flex;
    }

    .result__search {
        margin: 20px;
    }

    .result__search__btn {
        margin: 20px;
        padding: 15px;
    }
}