.list__question {
    padding: auto;

    .question__item {
        padding-left: 40px;
    }

    .list__question__text {
        font-weight: 800;
    }

    .list__question__diffLevel {
        display: inline-block;
        border-radius: 10px;
        // background-color: lightskyblue;
        padding: 10px;
        margin: 5px;
    }

    .easy {
        background-color: lightskyblue;
    }

    .medium {
        background-color: rgb(206, 171, 16);
    }

    .hard {
        background-color: rgb(206, 74, 22);
    }
}